
.main_body {
    background: #2B3648;
}

.nav_bar {
    position: absolute;
    width: 15%;
    left: 0;
    top: 0;
    bottom: 0;
    background: #212936;

    padding-right: 0.5%;
    padding-left: 0.5%;
    user-select: none;
}

.nav_bar .header {
    position: relative;
    height: 4%;
    left: 2%;
    right: 2%;
    top: 2%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #AFBDD1;
}

.nav_bar .nav_option_selected {
    position: relative;
    height: 5%;
    left: 0;
    top: 5%;

    background: #2B3648;
    border-radius: 4px;
    outline: 0;
}

.nav_bar .nav_option_deselected {
    position: relative;
    height: 5%;
    left: 0;
    top: 5%;

    border-radius: 4px;
    outline: 0;
}

.nav_option_selected .text_selected {
    position: relative;
    padding-left: 25%;
    top: 20%;

    /* Subtitle 2 - med 14 (21px, 0.1px) */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #1976D2;
}

.nav_option_deselected .text_deselected {
    position: relative;
    padding-left: 25%;
    top: 20%;

    /* Subtitle 2 - med 14 (21px, 0.1px) */
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #56657F;
}

.divider {
    position: relative;
    color: #313C4E;
    top: 2%;
    bottom: 2%;
    padding-left: 0;
}

.nav_option_selected .icon {
    position: absolute;
    top: 20%;
    left: 5%;
}

.nav_option_deselected .icon {
    position: absolute;
    top: 20%;
    left: 5%;
}

.console_screen {
    position: absolute;
    width: 80%;
    height: 70%;
    left: 18%;
    top: 5%;
    background: #212936;
    border: 1px solid #313C4E;
    box-sizing: border-box;
    border-radius: 4px;
    user-select: none;

}

.console_screen .header {
    position: absolute;
    left: 2%;
    top: 5%;
    padding-bottom: 5%;


    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #AFBDD1;
}

.console_screen .site_entry {
    position: relative;
    top: 15%;
    left: 2%;
    width: 95%;
}

.site_entry .title {
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #8997B1;
}

.site_entry .url {
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: #56657F;
}

.site_entry .icon {
    transform: translateY(-50%);
}

.site_entry .block {
    display: inline-block;
    position: absolute;
}

.site_entry .text_block {
    position: relative;
    display: inline-block;
    padding-left: 3%;
    padding-right: 87%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #121923;
    min-width: 5000px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content-show {
    position: absolute;
    background: #121923;
    min-width: 5000px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-show a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.central_icon {
    position: absolute;
    right: 45.52%;
    top: 35.03%;
}

.central_icon .cross {
    left: 30.52%;
    position: relative;
}

.central_icon p {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    color: #4F5E76;
}

/*.dropdown a:hover {background-color: #ddd;}*/
/*.dropdown-content-show a:hover {background-color: #ddd;}*/


.row {
    display: flex;
}

.column1 {
    flex: 50%;
}

.column2 {
    flex: 50%;
}

.option {
    display: block;
    position: relative;
    left: 2%;
    top: 6.71%;

    font-family: Roboto;
    padding-top: 2%;
    letter-spacing: 0.15px;

    color: #8997B1;
}

.option input {
    border: 0;

    background: #2B3648;
    border-radius: 4px;
    color: #FFFFFF;
    outline: 0;
    text-align: left;
    padding: 0.5%;
}

.option select {
    border-radius: 4px;
    color: #FFFFFF;
    border-color: #8997B1;
    background: #2B3648;

}

.option button {
    font-family: Roboto;
    color: #FFFFFF;
    border: 0;

    padding: 0.5% 1%;
    background: #1976D2;
    border-radius: 4px;
}
