<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DeHost</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style_base.css') }}">
        <link rel="icon" href="../static/logo.svg">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
        </style>
    </head>

    <form action="/" method="GET" id="nav">
    <div class="nav_bar">
        <div class="header">
            DeHost
            <img src="../static/logo.svg" alt="Logo">
        </div>

        <div class="divider"></div>

        <div class="nav_option" type="submit" onclick="document.getElementById('nav').submit();">
            <img class="icon" src="../static/browser.svg" alt="Browser Icon" >
            <p class="text_selected">My Sites</p>
        </div>

        <div class="nav_option_deselected" type="submit" onclick="document.getElementById('nav').submit();">
            <img class="icon" src="../static/rocket.svg" alt="New Site Icon" >
            <p class="text_deselected">Deploy New Site</p>
        </div>

        <div class="nav_option_deselected" type="submit" onclick="document.getElementById('nav').submit();">
            <img class="icon" src="../static/cog.svg" alt="Settings Icon" >
            <p class="text_deselected">Settings</p>
        </div>
    </div>
    </form>

    <body class="main_body">
        {% block content %}
        {% endblock %}
    </body>
</html>