{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style_base.css') }}">


{% block content %}
    <div class="console_screen" id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);">
        {% block drop %}
        {% endblock %}
    </div>


    {#    https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API/File_drag_and_drop#}
    {#    Imma be real, this is 100% not my work and I have stolen it from the above site   #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>
    <script>
        function dragOverHandler(ev) {
            console.log('File(s) in drop zone');

            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();
        }

        function dropHandler(ev) {
            ev.preventDefault();
            let formData = new FormData();


            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to access the file(s)
                for (let i = 0; i < ev.dataTransfer.items.length; i++) {
                    if (ev.dataTransfer.items[i].kind === 'file') {
                        let file = ev.dataTransfer.items[i].getAsFile();
                        formData.append(ev.dataTransfer.files[i].name, file);
                    }
                }
            } else {
                // Use DataTransfer interface to access the file(s)
                for (let i = 0; i < ev.dataTransfer.files.length; i++) {
                    let file = ev.dataTransfer.files[i];
                    formData.append(ev.dataTransfer.files[i].name, file);
                }
            }

            let d = new Date();
            d = d.getTime()
            let hashed = CryptoJS.MD5(d).toString();
            fetch('/new/' + hashed, {method: "POST", body: formData}).then(data => {
                    if (data.redirected) {
                        window.location.href = data.url;
                    }
                }
            );
        }
    </script>
{% endblock %}