{% extends "base.html" %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style_base.css') }}">

{% block content %}

    <div class="header">
        Deployed Sites
    </div>

    <div class="site_entry">
        <div class="block">
            <img class="icon" src="../static/rocketdeselected.svg">
        </div>

        <div class="text_block">
            <p class="title">Test</p>
            <p class="url">www.test.com</p>
        </div>

        <div class="block">
            <img class="icon" src="../static/burger.svg" onclick="document.getElementById('id01').style.display='block'">
        <!-- The Modal -->
        <div id="id01" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container">
              <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
              <p>Some text in the Modal..</p>
              <p>Some text in the Modal..</p>
            </div>
          </div>
        </div>
        </div>
    </div>


{% endblock %}