{% extends "base.html" %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style_base.css') }}">

{% block content %}
    <div class="console_screen">

        <div class="header">
            Deployed Sites
        </div>

        <div class="site_entry">
            <div class="block">
                <img class="icon" src="../static/rocketdeselected.svg">
            </div>

            <div class="text_block">
                <p class="title">Test</p>
                <p class="url">www.test.com</p>
            </div>


            <div class="block">
                <div class="dropdown">
                    <img class="icon" onclick="myFunction()" src="../static/burger.svg">
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">Change Domain</a>
                        <a href="#about">Delete</a>
                    </div>
                </div>
            </div>

            <script>
                function myFunction() {
                    let dropdown = document.getElementById("myDropdown");
                    try {
                        if (dropdown.classList.contains('dropdown-content')) {
                            dropdown.classList.toggle('dropdown-content');
                            dropdown.classList.add('dropdown-content-show');
                        }
                    } catch (error) {
                    }
                }

                window.onclick = function (event) {
                    if (!event.target.matches('.icon')) {
                        let dropdown = document.getElementById("myDropdown");

                        if (dropdown.classList.contains('dropdown-content-show')) {
                            dropdown.classList.toggle('dropdown-content');
                            dropdown.classList.toggle('dropdown-content-show');
                        }
                    }
                }

            </script>


        </div>
    </div>


{% endblock %}