{% extends "base.html" %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style_base.css') }}">

{% block content %}

    <div class="header">
        Deployed Sites
    </div>

    <div class="site_entry">
        <div class="block">
            <img class="icon" src="../static/rocket.svg">
        </div>

        <div class="text_block">
            <p class="title">Test</p>
            <p class="url">www.test.com</p>
        </div>

        <div class="block">
            <img class="icon" src="../static/burger.svg">
        </div>
    </div>


{% endblock %}