{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style_base.css') }}">


{% block content %}
    <div class="console_screen">

        <div class="row">
            <div class="column1">
                <div>
                    Email
                    <input type="email">
                </div>
                <div>
                    Email
                    <input type="email">
                </div>
            </div>

            <div class="column2">

            </div>
        </div>
    </div>
{% endblock %}